{% extends 'base.html.twig' %}
{% block title %}Ajouter un étudiant{% endblock %}
{% block body %}
<h2 class="mb-4 text-primary"><i class="fa-solid fa-user-plus"></i> Ajouter un étudiant au groupe {{ groupe }}</h2>

<div class="card">
  <div class="card-body">
    {{ form_start(form) }}
      <div class="mb-3">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="mb-3">
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="mb-3">
        {{ form_label(form.groupe) }}
        {{ form_widget(form.groupe, {'attr': {'class': 'form-select'}}) }}
      </div>
      <button type="submit" class="btn btn-success btn-lg">
        <i class="fa-solid fa-check"></i> Enregistrer
      </button>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}